﻿@model Order
<style>
    /* Style for the form container */
    .form-container {
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    /* Style for form labels */
    .form-group label {
        font-weight: bold;
    }

    /* Style for form input fields */
    .form-control {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-sizing: border-box;
    }

        /* Style for form textarea */
        .form-control textarea {
            height: 100px;
            resize: vertical; /* Allow vertical resizing */
        }

    /* Style for submit button */
    .btn-primary {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }

        /* Style for submit button hover */
        .btn-primary:hover {
            background-color: #0056b3;
        }

</style>
<div class="form-container">
    <h2>Checkout</h2>
    <form asp-action="Checkout" method="post">
        <div class="form-group">
            <label asp-for="ShippingAddress">Shipping Address</label>
            <input asp-for="ShippingAddress" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Notes">Notes</label>
            <textarea asp-for="Notes" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Place Order</button>
    </form>
</div>