﻿@model ShoppingCart
<h2>Your Cart</h2>
<style>
	/* Style for the table */
	table {
		width: 100%;
		border-collapse: collapse;
		margin-bottom: 20px;
	}

	/* Style for table headers */
	th {
		background-color: #f2f2f2;
		border: 1px solid #dddddd;
		padding: 8px;
		text-align: left;
	}

	/* Style for table cells */
	td {
		border: 1px solid #dddddd;
		padding: 8px;
	}

	/* Style for the remove link */
	a {
		color: #ff4500;
		text-decoration: none;
	}

		/* Style for the checkout link */
		a.checkout {
			display: block;
			width: 100px;
			padding: 10px;
			text-align: center;
			background-color: #4caf50;
			color: white;
			text-decoration: none;
			border-radius: 5px;
		}

			/* Style for the checkout link hover effect */
			a.checkout:hover {
				background-color: #45a049;
			}

</style>
<table>
	<tr>
		<th>Product</th>
		<th>Quantity</th>
		<th>Price</th>
		<th>Total</th>
		<th>Action</th>
	</tr>
	@foreach (var item in Model.Items)
	{
		<tr>
			<td>@item.Name</td>
			<td>@item.Quantity</td>
			<td>@item.Price</td>
			<td>@(item.Price * item.Quantity)</td>
			<td>
				<a asp-action="RemoveFromCart" asp-route-productId="@item.ProductId">Remove</a>
			</td>
		</tr>
	}

	<tr>
		<td colspan="4"></td> <!-- Tạo một cell trống để căn chỉnh -->
		<td>
			<a asp-action="Checkout" asp-controller="ShoppingCart">Thanh Toán</a>
		</td>
	</tr>
</table>